$maxNumberOfElements: 3;

@mixin generateClasses {
  @for $lastElementNo from 1 through $maxNumberOfElements {
    // find the correct width
    &:last-child:nth-child(#{$lastElementNo}):before {
      width: 100% / $lastElementNo;
    }
    
    @for $hoveredElement from 1 through $lastElementNo {
      // try to figure out which one is the one hovered
      &:nth-child(#{$hoveredElement}):nth-last-child(#{$lastElementNo - $hoveredElement + 1}):hover ~ :last-child:before,
      &:nth-child(#{$hoveredElement}):nth-last-child(#{$lastElementNo - $hoveredElement + 1}):last-child:hover:before {
        left: ($hoveredElement - 1) * 100% / $lastElementNo;
      }
        
      &:nth-child(#{$hoveredElement}):nth-last-child(#{$lastElementNo - $hoveredElement + 1}):last-child:before {
        left: -100% / $lastElementNo;
      }
    }
  }
}