*, 
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.main {
    padding: 24px;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
    color: #000;
    margin: 3em 20em 0 20em;
}

.main h1 {
  font-size: 2em;
}

.main h2 {
  font-size: 1.5em;
}

.main h3, h4, h5, h6 {
  font-size: 1em;
}

.main p {
  font-size: 1em;
}
