$none: none;
$color-primary: #005b99;
$color-text: #2e353f;
$color-text-light: #4f5969;
$color-heading: #ff8300;
$color-heading-black: #000;
$color-accent: #d1dce5;
$color-fonts: #fff;

$background-dark: #1d1e22;
$background-light: #fff;

$font-dark: #c1c1c1;
$font-light: #1d1e22;
$font-heading-dark: #f36500;
$font-heading-light: #1d1e22;
$font-heading-anchor: #cc8400;
$font-strong-dark: #f36500;
$font-strong-light: #000;
$font-menu-dark: $font-heading-dark;
$font-menu-light: $font-heading-light;
$font-anchor-dark: #5f88ff;

$border-menu-color-dark: rgb(103 * 1 100 * 1 100 * 1 / 0.6 * 1);
